{% extends "django_razorpay/base.html" %}
{% load static %}
{% block head %}
<link href="{% static 'django_razorpay/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}Manual transaction{% endblock %}

{% block main %}
<main>
    <div class="py-5 text-center">
      <h2>Manual payment transaction</h2>
      <p class="lead">Add a manual payment transaction for incoming or expense</p>
    </div>
    <div class="row g-5 align-items-center justify-content-center">
      <div class="col-md-7 col-lg-5">
          <div class="row">
          <div class="col-12">
              {% for message in messages %}
              <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
              <strong>{{ message }}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
              {% endfor %}
            </div>

          </div>
        <h4 class="mb-3">Payment details</h4>
        <form method="POST">
          {% csrf_token %}
          <div class="row g-3">
              <div class="col-12">
                  <label for="name" class="form-label">Select Transaction type</label>
                  <select class="form-select form-label" id="paymentTypeSelect" name="payment_type" required>
                      <option value="" selected disabled>-- Select Payment type --</option>
                      {% for payment_type in payment_types %}
                        <option value="{{payment_type.value}}" >{{payment_type.label}}</option>
                    {% endfor %}
                    </select>
              </div>
            <div class="col-12">
              <label for="name" class="form-label">Label / Description</label>
              <input type="text" class="form-control border border-primary" id="name" name="label" placeholder="Provide the description" required>

            </div>
              <div class="col-12">
              <label for="date" class="form-label ">Amount</label>
              <input type="text" class="form-control border border-primary" id="amount" name="amount" placeholder="Example: 200" required>
            </div>
            <div class="col-12">
              <label for="date" class="form-label ">Date</label>
              <input type="text" class="form-control border border-primary date" id="date" name="date" placeholder="Example: 24/04/2022">
            </div>

          <hr class="my-4">
          <button class="w-100 btn btn-primary btn-lg" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </main>
{% endblock %}
{% block js %}
<script src="{% static 'django_razorpay/js/bootstrap-datepicker.min.js' %}"></script>
<script>
  $(document).ready(function(){
         $('.date').datepicker({format: 'dd/mm/yyyy'});
  });
</script>
{% endblock %}