{% extends "django_razorpay/base.html" %}
{% load static %}
{% block head %}{% endblock %}
{% block title %}Membership Fee Payment{% endblock %}

{% block main %}
<main>
    <div class="py-5 text-center">
      <h2>Membership Fee Payment</h2>
      <p class="lead">This payment is for member only (Using Razorpay)</p>
    </div>
    <div class="row g-5 align-items-center justify-content-center">
      <div class="col-md-7 col-lg-5">
          <div class="row">
          <div class="col-12">
              {% for message in messages %}
              <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
              <strong>{{ message }}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
              {% endfor %}
            </div>

          </div>
        <h4 class="mb-3">Member details</h4>
        <form method="POST">
          {% csrf_token %}
          <div class="row g-3">
            <div class="col-12">
              <label for="firstName" class="form-label">Name</label>
                <select class="selectpicker form-control border border-primary" data-live-search="true" data-container="body" name="name">
                  <option data-tokens="" disabled selected> -- Search and select your Name -- </option>
                  {% for member in members %}
                  <option data-tokens="{{member}}">{{member}}</option>
                  {% endfor %}

                </select>
            {% if not use_rz_payment_link %}
            </div>
              <div class="col-12">
              <label for="phonenumber" class="form-label ">Phone Number</label>
              <input type="text" class="form-control border border-primary" id="phonenumber" name="phonenumber" placeholder="Example: 9854785478" required>
            </div>
            <div class="col-12">
              <label for="email" class="form-label">Email <span class="text-muted">(Optional)</span></label>
              <input type="email" class="form-control border border-primary" id="email" placeholder="you@example.com" name="email" required>
            </div>
              {% endif %}

          <hr class="my-4">
          <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
          </div>
        </form>
      </div>
    </div>
  </main>
{% endblock %}
{% block js %}
<script>
  $(document).ready(function(){
  $('.selectpicker').on('changed.bs.select', function (e) {
      var selected = e.target.value;
      let data = {'name': selected, 'csrfmiddlewaretoken': '{{ csrf_token }}'}
      let url = "{% url 'django_razorpay:get_member_details' %}";
      fetch(url, { method: 'POST', body: JSON.stringify(data),
      headers: { 'Accept': 'application/json, text/plain, */*',
        'Content-Type': 'application/json',
       }
      })
        .then(Result => Result.json())
        .then(resp_data => {
            if(resp_data.email !== undefined){
              document.getElementById("email").value = resp_data.email;
            }
            if(resp_data.phonenumber !== undefined){
              document.getElementById("phonenumber").value = resp_data.phonenumber;
            }
        })
        .catch(errorMsg => { console.log(errorMsg); });
  });

  });
</script>
{% endblock %}